* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}

/* Need to align linear-gradient as Figma file */

body {
    background: linear-gradient(135deg, #E6E6FA, #B8E7FA, #B8E7FA);
    min-height: 100vh;
}

img {
    height: 100%;
    width: 100%;
}

.header {
    background-color: rgba(255, 255, 255, .6);

}

/* 1px border need to add in the header area */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 87.5%;
    margin: 0 auto 100px auto;
    padding: 24px 0;
}

.header-content h2 {
    font-size: 28;
    font-weight: 800;
}

.header-content h2 span {
    color: #FFA500;
}


.active-button {
    font-size: 20px;
    font-weight: 800;
    color: #0D1321;
    padding: 17px 24px;
    border-radius: 10px;
    background: linear-gradient(-90deg, #FFD447, #FFA500);
    box-shadow: 0 4px 4px rgb(0, 0, 0, .25);
    opacity: 80%;
}

#hero,
#developer,
#target {
    max-width: 87.5%;
    margin: 0 auto 100px auto;
}

.hero-content {
    background-color: #E6EDF9;
    padding: 40px 60px;
    text-align: center;
    border-radius: 16px;
}

.hero-content img {
    padding-bottom: 32px;
    height: 240px;
    width: auto;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    color: #0D1321;
    padding-bottom: 32px;
}

.hero-content p {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #0D1321;
    padding-bottom: 32px;
}

.heading {
    text-align: center;
    margin: 0 auto 48px auto;
    width: 59.17%;
}

.heading h1 {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    padding-bottom: 24px;
}

.heading p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: rgba(13, 19, 33, .7);
}

.developer-discuss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6EDF9;
    border-radius: 16px;
    padding: 48px;
}

.discuss-content {
    max-width: 58%;
}

.discuss-img {
    max-width: 42%;
}

.discuss-content h2 {
    padding-bottom: 18px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, .7);
    line-height: 36px;
}

.discuss-content p {
    padding-bottom: 32px;
    font-size: 16px;
    font-weight: normal;
    color: rgba(13, 19, 33, .7);
    line-height: 26px;

}

/* YouTube imported video ratio need to adjust */

/* #inspiration {
    width: 76.39%;
    height: 38.61%;
    margin: 0 auto 100px auto;
}

.inspiration-video {
    margin: 0 auto;
    text-align: center;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, .2);
    border-radius: 16px;
}

.inspiration-video iframe {
    width: 100%;
    border: 0;
    border-radius: 16px; 
}*/

/* YouTube imported video ratio solution */
#inspiration {
    width: 76.39%;
    margin: 0 auto 100px auto;
}

.inspiration-video {
    margin: 0 auto;
    text-align: center;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, .2);
    border-radius: 16px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 16px;
}

.target-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding-bottom: 50px;
}

.skill {
    background: linear-gradient(#E6EDF9, #9DE5FF);
    padding: 40px;
    width: 25.28%;
    border-radius: 16px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, .25);

}

.skill img {
    width: 56px;
    padding-bottom: 24px;
}

.skill h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    color: #0D1321;
    padding-bottom: 32px;
}

.skill a {
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}

#footer {
    background-color: rgba(255, 255, 255, .6);
}

.footer-content {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;

}

.footer-content p {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
}

.footer-img {
    display: flex;
    column-gap: 32px;
}

.footer-img img {
    width: 36px;
    margin: 0;
}